[user]
  name = Matts966
  email = "Matts966@users.noreply.github.com"
[grep]
  lineNumber = true
[core]
  editor = nvim
  pager = delta
  excludesfile = /Users/mattsm/.gitignore
[interactive]
  diffFilter = delta --color-only
[commit]
  verbose = true
[pull]
	rebase = true
