[user]
    name = Matts966
    email = "Matts966@users.noreply.github.com"
[grep]
    lineNumber = true
[core]
    editor = /usr/local/bin/nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[commit]
	verbose = true
