java adoptopenjdk-8.0.282+8
kubectl 1.21.1
neovim 0.6.0
terraform 1.0.4
direnv system
cloudsql-proxy 1.23.0
golang 1.16
nodejs 14.18.2
rust nightly
kustomize 3.8.9
kubectx 0.9.4
sops 3.7.1
python 3.8.10
perl 5.20.1
