flutter 2.0.4-stable
golang 1.16.5
python 3.8.10
nodejs 16.3.0
github-cli 1.11.0
java adoptopenjdk-12.0.2+10.1
ghq 1.2.1
delta 0.8.0
kubectl 1.21.1
neovim nightly
rust 1.52.1
terraform 1.0.0
fzf 0.27.2
protoc 3.17.3
