java adoptopenjdk-19.0.0+36
kubectl 1.21.1
neovim nightly
terraform 1.0.4
direnv system
cloudsql-proxy 1.23.0
golang 1.19
nodejs 16.16.0
rust nightly
kustomize 3.8.9
kubectx 0.9.4
sops 3.7.1
python 3.8.10
perl 5.20.1
deno 1.24.3
ruby 2.6.6
